yarn.lock
package-lock.json

# -= OS =-

#MacOSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

#Linux
.directory
.Trash-*

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# -= IDE =-

#IDEA IntelliJ
.idea
*.iml

#Eclipse
.project
/.settings/
/target/

# -= reveal.js =-
log/*.log
css/reveal.min.css
js/reveal.min.js

# -= node =-
node_modules/
tmp/**

# -= SASS =-
.sass-cache

# -= Misc =-
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.pxm

# temp folder
temp

